html {
	font-family: 'Chilanka';
	background: url('../../resources/images/background.jpg') no-repeat center center fixed;
	background-size: cover;
}

	

body,
html {
	margin: 0;
	padding: 0;

}

.winButtons {
	top: 0;
	right: 0;
	position: absolute;
	z-index: 1;
}

.winButtons ul li {
	float: left;
	list-style: none;
	padding: 0 20px;
	color: #f4f4ff;
	font-size: 25px;
	transition: 300ms all;
}
#close:hover, #minimize:hover{
	color: tomato !important;
	cursor: pointer;
}
.proba{
	border: 1px solid red !important;
}
#points {
	visibility: hidden;
	padding: 20px 20px;
	margin-left: 140px;
	width: 30%;

	text-align: center;
	color: white;
	font-size: 30px;
	text-shadow: 0px 4px 3px rgba(50, 200, 50, 0.4), 0px 8px 13px rgba(50, 200, 50, 0.1),
		0px 18px 23px rgba(50, 200, 50, 0.1);
}
.notch {
	margin: 0 auto;
	width: 30%;
	background-color: black;
	height: 50px;
	border-bottom-right-radius: 25px;
	border-bottom-left-radius: 25px;
	position: relative;
	z-index: 1;
	-webkit-app-region: drag;
}

.camera {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	content: url("../../resources/images/camera-lens.png");
	position: absolute;
	top: 10px;
	right: 20px;
	
}
#countdown{
	position: absolute;
	top: 30%;
	left: 30%;
	transform: translate(50%, 50%);
	color: white;
	font-size: 120px;
}
#sketch-holder {
	position: absolute;
	top: 0;
	z-index: -1;
	
	
}

#game {
	position: relative;
	z-index: 1;
}
#reset {
	display: none;
	position: absolute;
	left: 50%;
	top: 90%;
	transform: translate(-50%,-50%);
	padding: 10px;
	border: 2px solid white;
	border-radius: 6px;
	color: white;
	text-align: center;
	background: none;
	z-index: 999;
	transition: 150ms all;
	box-shadow: 0 0 3px 3px rgba(0,0,0,1);
}
#reset:hover {
	border: 2px solid tomato;
	color: tomato;
	cursor: pointer;
	transition: 150ms all;
}

#start {
	display: inline-block;
}

#message{
	position: absolute;
	left: 50%;
	top: 90%;
	transform: translate(-50%,-50%);
	padding: 10px;
	border: 2px solid white;
	border-radius: 6px;
	color: white;
	text-align: center;
	box-shadow: 0 0 3px 3px rgba(0,0,0,1);
}